@model Funtility.ViewModels.GameCard

@{ 
    var home = Model.BaseUrl + "/TextAdventure/Home";
    var play = Model.BaseUrl + "/TextAdventure/Home/Play?id=0";
    var create = Model.BaseUrl + "/TextAdventure/Home/Create?id=0";
}

<div class="gameCard">
    <div class="gameCard-head">
        <h2>@Model.GameName</h2>
    </div>

    <div class="gameCard-body">
        @Model.Description
    </div>

    <div class="gameCard-footer">
        <a href="@home" class="fa fa-home gameCard-footer-button"> Home</a>
        <a href="@play" class="fa fa-play gameCard-footer-button"> Play</a>
        <a href="@create" class="fa fa-pencil-square gameCard-footer-button"> Create</a>
    </div>
</div>