@model Funtility.Areas.TextAdventure.Models.TextAdventureGame

@{
    ViewBag.Title = "Text Adventure - " + @Model.Name;
}

<link href="~/Areas/TextAdventure/Content/TextAdventure.css?rev=5" rel="stylesheet" />

<div id="game-main" class="game-main">
    
    <div id="game-header" class="game-header">

        <div class="dropdown">
            <button class="dropdown-button game-header-button" onclick="ToggleCssClass('fileMenu','show');">File</button>
            <div id="fileMenu" class="dropdown-content">
                <a href="#">New</a>
                <a href="#">Open</a>
                <a href="#">Save</a>
                <a href="#">Publish</a>
                <a href="#">Delete</a>
            </div>
        </div>

        <div class="game-title">@Model.Name</div>

    </div>

    <div id="game-area" class="game-area">

        <div id="modal"></div>

        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.UserID)

        <div style="height:500px;" title="Is this game live for other players to see?">
            @{ var published = "";
                if (Model.Published == 1) { published = "checked"; } }
            <input type="checkbox"
                   name="Published"
                   @published />
            <span> Published</span>
        </div>

        <div style="height:500px;">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "" })
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "", @id = "txbxGameName" } })
        </div>

        <div style="height:500px;">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "" })
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "" } })
        </div>

        <div style="height:500px;">
            @Html.LabelFor(model => model.GameData, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.GameData, new { htmlAttributes = new { @class = "form-control" } })
        </div>

    </div>

</div>

@* Text Adventure JS files *@
<script src="~/Areas/TextAdventure/Scripts/Area.js?rev=4"></script>
<script src="~/Areas/TextAdventure/Scripts/Item.js?rev=4"></script>
<script src="~/Areas/TextAdventure/Scripts/Player.js?rev=4"></script>
<script src="~/Areas/TextAdventure/Scripts/UI_shared.js?rev=4"></script>
<script src="~/Areas/TextAdventure/Scripts/Way.js?rev=4"></script>

@* Must call all other js files first *@
<script src="~/Areas/TextAdventure/Scripts/TextAdventure.js?rev=4"></script>

@{var gameData = Model.GameData;}

<script>
    window.addEventListener('resize', function () {
        ResizeGameAreaHeight();
    });
    InitTextAdventureGame('@gameData');
</script>