@model IEnumerable<Funtility.Areas.TextAdventure.Models.TextAdventureGame>

@{
    ViewBag.Title = "Text Adventure";
}

<h1>Text Adventure!</h1>
<h2>
    This will be the Text Adventure game home page <br />
    There might be a description of the game. <br />
    User comments / testimonials?
</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Published)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameData)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @{ var published = "False"; }
            @if (item.Published == 1)
            {
                published = "True";
            }
            @published
        </td>
        <td>
            @{ 
                var description = item.Description;
                var name = item.Name;
            }
            <p title="@description">@name</p>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameData)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Play", "Play", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
