<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @RenderSection("scripts", required: false)
    @{ Html.RenderPartial("_Scripts"); }
    <title>Funtility - @ViewBag.Title</title>
</head>

<body  id="site-main">

    <div class="site-grid>">

        <div id="site-header" class="site-header">

            @Html.ActionLink("Funtility", "Index", "Home", new { @class = "site-title", title = "Home" })

            <div class="dropdown">
                <button class="dropdown-button site-header-button" onclick="ToggleCssClass('LoginMenu','show');">Login / Register</button>
                <div id="LoginMenu" class="dropdown-content">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>

            <div class="dropdown">
                <button class="dropdown-button site-header-button" onclick="ToggleCssClass('GamesMenu','show');">Games</button>
                <div id="GamesMenu" class="dropdown-content">
                    @Html.ActionLink("Text Adventure", "Index", "TextAdventure", new { area = "TextAdventure" })
                </div>
            </div>

        </div>

        @RenderBody()

        <div class="site-footer" id="site-footer">
            <p>&copy; @DateTime.Now.Year - Funtility</p>
        </div>

    </div>

    <script>
        ResizeGameAreaHeight();
    </script>

</body>

</html>
