<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @RenderSection("scripts", required: false)
    @{ Html.RenderPartial("_Scripts"); }
    <title>Funtility - @ViewBag.Title</title>
</head>

<body id="site-main">

    <div class="site-grid>">

        <div id="site-header" class="site-header">
            @Html.ActionLink("Funtility", "Index", "Home", new { @class = "site-title", title = "Home" })

            <button class="login-button" onclick="Login();">Login / Register</button>
            @*<div id="LoginMenu">
                @Html.Partial("_LoginPartial")
            </div>*@
        </div>

        @RenderBody()

        <div class="site-footer" id="site-footer">
            <p>&copy; @DateTime.Now.Year - Funtility</p>
        </div>

    </div>

    <div id="modal" style="display:none;">
        <div id="modal-body" class="modal-body">
            @* Render partial here *@
        </div>
    </div>

    <script>
        ResizeGameAreaHeight();
    </script>

</body>

</html>
